* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
i{
   color: white;
}
body{
   position: relative;
   box-sizing: border-box;
}
/* heder */
.heder {
   width: 100%;
   background-color:rgba(20, 20, 20, 0.747) ;
   border-bottom: 0.1rem solid white;
   display: flex;
   align-items: center;
   justify-content:space-between;
   gap: 2rem;
   padding-left: 1rem;
   padding-right: 2rem;
   z-index: 9999;
   position:fixed;

}
.heder .logo{
   width: 13rem;
   padding: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.pagedown a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight: 600;
}
.pagedown a:hover {
  text-decoration: none;
  color: rgb(202, 12, 12);
  transition: 0.8s;

}
.pagedown .tugma {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom:  0.7rem;
  font-weight: 600;
}
.pagedown .tugma:hover{
   text-decoration: none;
   background:transparent ;
   color: rgb(202, 12, 12);
   transition: 0.8s;

}
.pagedown .tugmacha{
   background-color: rgba(12, 11, 11, 0.712);
   width: 15rem;
 }
 .pagedown .tugmachalar{
   color: white;
   font-weight: 300;
   font-size: 1rem;
   padding-bottom: 0.3rem;
   padding-top: 0.3rem;
   padding-left: 2rem;

  }
 .pagedown .tugmachalar:hover{
   color: white;
    padding-left: 0.3rem;
    background-color: rgb(228, 23, 23);
   transition: 0.5s;
 }

/* heder end*/
/* section 1 */
.car .car1 {
  display: flex;
position: relative;


}
 .text1{
  font-size: 2rem;
  font-weight: 900;
  color: white;
  position: absolute;
  text-align: center;
  top:  30%;
  padding: 0rem 10rem;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  
   
   

}
  .text1 span{
  font-size: 4em;
  font-weight:  100;
}
.text1 h2{
  font-size: 3.5em ;
  font-weight: 800;
}
.text1 p{
  font-size: 0.5em;
  font-weight: 100;
  line-height: 1.5em;
}
/* SECTION1 end */
/* section 2 */
.section2{
  background-color: rgb(37, 36, 36);
  width: 100%;
  height: 49rem;
}
.section2 .text3{
  font-size: 2rem;
  font-weight: 900;
  color: white;
   text-align: center;
  
  padding: 10rem 10rem;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
}
.text3 h2{
  font-size: 3.5em ;
  font-weight: 800;

}
.text3 span{
  font-size: 4em;
  font-weight:  100;
 
}
.text3 p{
  font-size: 0.6em;
  font-weight: 100;
  line-height: 1.5em;
  color: rgb(197, 194, 194);
  padding-top: 3rem;

}
.text3 button{
  border-style: none;
  width: 13rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(253, 40, 40) ;
  color: white;
  margin-top: 3rem;

}
.text3 button:hover{
  background-color: rgb(37, 36, 36) ;
  transition:ease-out .6s;
}

/* section2 end */
/* section3 */
.section3{
  display: flex;
  position: relative;
  }
.section3 img{
  transform: translate(-8rem)
}
.section3 .text4{
  color: white;
  background-color:rgb(250, 50, 50) ;
  width: 50%;
  height: 44.4rem;
  position: absolute;
  margin-left: 50%;
  text-align: center;
  padding-top: 10%;
  line-height: 1rem;
  letter-spacing: 0.1rem;
}
.text4 h2{
  font-size: 6em ;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: 0.2rem;


}
.text4 span{
  font-size: 6em;
  font-weight: 100;
 
}
.text4 p{
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.5em;
  color: rgb(197, 194, 194);
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}
.text4 button{
  border-style: none;
  width: 14rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: white ;
  color: rgb(12, 11, 11);
  margin-top: 3rem;

}
.text4 button:hover{
  background-color: rgb(63, 62, 62)  ;
  transition:ease-out .6s;
  color: white;

}


/* section3 end */

/* section4 */
.section4 {
  display: flex;
  position: relative;
}

.section4 img{
  margin-left: 28.8%;
  }
  


.section4 .text5{
  color: white;
  background-color:rgb(70, 67, 67) ;
  width: 50%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-top: 10%;
  line-height: 1rem;
  letter-spacing: 0.1rem;
 
}
.text5 h2{
  font-size: 6em ;
  font-weight: 800;
  line-height: 5rem;
  letter-spacing: 0.2rem;


}
.text5 span{
  font-size: 6em;
  font-weight: 100;
 
}
.text5 p{
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.5em;
  color: rgb(197, 194, 194);
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}
.text5 button{
  border-style: none;
  width: 14rem;
  padding: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(138, 132, 132) ;
  color: white;
  margin-top: 3rem;

}
.text5 button:hover{
  background-color: rgb(250, 57, 57)  ;
  transition: .6s;
  color: white;

}
/* section4 end */
/* section5 */
.section5{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.section5 img{
  width: 10rem;
  color: white;
  padding: 2rem;
}
.section5 .our{
  display: flex;
  justify-content: center;
  align-items: center;
}

.section5 .our .oures{
  font-size: 6rem;
  font-weight: 900;
}
.section5 .our .advan{
  font-size: 6rem;
  font-weight: 100;

}
.section5 .BLOK{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section5 .blok1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
.section5 .blok1 .all{
   width: 20rem;
}
.section5 .blok1 a{
  text-decoration: none;
  font-size: 2rem;
  color: black;
}
.section5 .blok1 a:hover{
  color: rgb(248, 31, 31);
  transition: 0.5s;
}
.section5 button{
  border-style: none;
  width: 14rem;
  padding: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: rgb(138, 132, 132) ;
  color: white;
  margin-left: 25rem;
  margin-bottom: 5rem;


}
.section5 button:hover{
  background-color: rgb(250, 57, 57)  ;
  transition:ease-out .6s;
  color: white;

}


/* section5 end */
/* section6 */
.section6{
  width: 100%;
  background-image: url(./img/home-03-1920x1200\ \(3\).jpg);
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
.section6 img{
padding-left: 2rem;
  width: 15rem;
  color: white;
 }
 .section6 img:hover{
  cursor:pointer;
 }

.section6 .ours{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section6 .ours .ouress{
  font-size: 6rem;
  font-weight: 900;
}
.section6 .ours .advans{
  font-size: 6rem;
  font-weight: 100;

}
.section6 .BLOK{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
 }
.section6 .blok1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  

}
.section6 .blok1 .alls{
  color: white;
    text-align: center;
   width: 20rem;
   height: 13rem;
   background-color: rgb(247, 55, 55);
   gap: 2rem;
   transition: 0.5S;
}
.section6 .blok1 .alls:hover{
  background-color: rgba(102, 99, 99, 0.534);
}

.section6 .blok1 a{
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.section6 .blok1 a:hover{
  color: rgb(248, 31, 31);
  transition: 0.5s;
}
/* section6end */
/* section7 */
.section7 {
  width: 100%;
  
background-color: rgba(49, 49, 49, 0.459);
/* display: flex;
align-items: center;
justify-content: center;
flex-direction: column; */
text-align: center;
padding: 5rem;
line-height: 3rem;
list-style: 1rem;
}
.section7 .what{
  color: white;
  font-size: 5rem;
  font-weight: 100;
  font-style: oblique;
  margin-left: 35%;
  margin-right: 50%;
}
.section7 .text123{
  text-align: center;
  margin-left: 15rem;
}
.section7 .name1{
   font-size: 2rem;
  color: white;
  line-height: 2rem;
  font-style: italic;
}
.section7 .say1{
  text-align: center;
   color: white;
  font-size: 1rem;
  font-weight: 100;
   line-height: 1rem;
  width: 40rem;
 
}

.section7 .client{
  color: white;
  font-size: 5rem;
  font-weight: 900;
  font-style: oblique;
 }
.section7 .boll{
  padding: 5rem;
  width: 35rem;
}
.section7 .boll img{
  border-radius: 50%;
  margin-left: 80%;
  border: solid 1rem white;
}
/* section7 end */
/* footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
   width: 100%;
  background-image: url(./img/home-03-1920x1200\ \(3\).jpg);

}
.footer .advans{
  font-size: 5rem;
  color: white;
}
.footer .ouress{
  font-size: 5rem;
  color: white;
 
}