* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
i{
   color: white;
}
body{
   position: relative;
   box-sizing: border-box;
}
/* heder */
.heder {
   width: 100%;
   background-color:rgba(100, 98, 98, 0.603) ;
   display: flex;
   align-items: center;
   justify-content:space-between;
   gap: 2rem;
   padding-left: 1rem;
   padding-right: 2rem;
   z-index: 9999;
   position:fixed;
}
.heder .logo{
   width: 13rem;
   padding: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.pagedown a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-weight: 600;
}
.pagedown a:hover {
  text-decoration: none;
  color: rgb(202, 12, 12);
  transition: 0.8s;

}
.pagedown .tugma {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  padding-bottom:  0.7rem;
  font-weight: 600;
}
.pagedown .tugma:hover{
   text-decoration: none;
   background:transparent ;
   color: rgb(202, 12, 12);
   transition: 0.8s;

}
.pagedown .tugmacha{
   background-color: rgba(12, 11, 11, 0.712);
   width: 15rem;
 }
 .pagedown .tugmachalar{
   color: white;
   font-weight: 300;
   font-size: 1rem;
   padding-bottom: 0.3rem;
   padding-top: 0.3rem;
   padding-left: 2rem;

  }
 .pagedown .tugmachalar:hover{
   color: white;
    padding-left: 0.3rem;
    background-color: rgb(228, 23, 23);
   transition: 0.5s;
 }

/* heder end*/
/* section 1 */
.section1{
   display: flex;
   flex-direction: row;
}
.menu {
   display: flex;
  background-image: url("./img/slider-01-1920x1050\ \(6\).jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  top: 0%;
}
.menu {
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction:column;
   text-align: center;
   color: white;
   padding-left: 5rem;
   padding-right: 5rem;
   padding-top: 40rem;
   /* transition: 5s;
   transform:translatey(-100) */

 }
 .menu span{
   font-size: 6rem;
   width: 900;
   font-style:italic;
   line-height: 0.9;
   letter-spacing: -0.01em;
    font-family: inherit;
    position: relative;

 }
 .clik {
   display: flex;
   display: block;
   width: 5rem;
   z-index: 8888;
   padding-top: 20rem;
   padding-left: 2rem;
   position: absolute;

 }
 .unclik {
   /* display: flex;
   display: block; */
   width: 5rem;
   z-index: 8888;
   padding-top: 20rem;
   padding-left: 80rem;
   position: absolute;

 }
 .clik button{
   width: 3rem;
   height: 3rem;
   background-color: grey;
   text-decoration: none;
   border: none;

 }

 .unclik button{
   width: 3rem;
   height: 3rem;
   background-color: grey;
   text-decoration: none;
   border: none;
 
}

 .menu h2{
   font-size: 8rem;
   width: 100;
   line-height: 0.9;
   letter-spacing: 0.04em;
  }
 .menu .text{
   transition: 1s;
   transform:translateY(-80%);
 }